/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--page-bg-image);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: var(--bg-color-section);
}

.header {
  position: relative;
  padding: var(--page-padding) var(--page-padding) var(--page-padding) 10px;
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  position: relative;
  background-color: transparent;
  line-height: 18px;
  color: var(--theme-menu-color);
  text-transform: lowercase;
  padding: 3px 13px;
  border: none;
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--theme-menu-color);
}

.header__theme-menu-button:hover::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 26px;
  opacity: 0.4;
  border: 1px solid var(--theme-menu-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--theme-menu-color);
  pointer-events: none;
}

.rec-indicator {
  position: absolute;
  top: var(--page-padding);
  right: calc(var(--page-padding) + 28px);
  text-transform: uppercase;
  color: var(--rec-indicator-color);
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.rec-indicator::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--rec-indicator-color);
  box-shadow: 0 0 4px 2px var(--rec-indicator-color);
  right: -19px;
  top: 8px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decorated-zone-color);
  border-right: 1px solid var(--decorated-zone-color);
  top: var(--page-padding);
  right: var(--page-padding);
}

.decorated-zone::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decorated-zone-color);
  border-left: 1px solid var(--decorated-zone-color);
  bottom: var(--page-padding);
  left: var(--page-padding);
}

.header__logo {
  font-weight: 700;
  line-height: 83%;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--header-logo-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  align-self: center;
  justify-self: start;
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
}

.header__discription {
  align-self: center;
  font-weight: 700;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--title-color);
  font-size: inherit;
}

.content {
  padding: calc(var(--gap-page) - var(--page-padding)) var(--page-padding);
  display: grid;
  gap: var(--gap-page);
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.section__title {
  color: var(--section-title-color);
  font-size: inherit;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.card__title {
  font-size: inherit;
}

.card-link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.card-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.card-link:focus-visible {
  border: 2px solid var(--text-color);
  outline: none;
}

.card__title_weight_normal {
  font-weight: normal;
}

.cards-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap-section);
}

.card__text {
  font-size: inherit;
  color: var(--text-color);
}

.section_type_visuals {
  gap: var(--page-padding);
}

.visuals-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--page-padding);
}

.visuals-grid__image {
  width: 100%;
  height: auto;
  display: block;
}

.footer {
  display: grid;
  padding: var(--page-padding);
  position: relative;
  height: 100vh;
  min-height: 668px;
}

.footer__logo {
  align-self: center;
  justify-self: center;
  font-weight: 700;
  line-height: 83%;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--header-logo-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {

  :root {
    --page-padding: 20px;
    --gap-page: 80px;
  }

  .header__logo {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .footer__logo {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header {
    grid-template-columns: 1fr 1fr;
  }

  .header__theme-menu,
  .header__logo {
    grid-column: 1 / 3;
  }

  .header__discription {
    grid-column: 2 / 3;
  }

  .section_type_struggle {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
  }

  .section_type_distractors {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
  }

  .section_type_distractors .cards-list {
    grid-row: 2 / 3;
    grid-column: 1 / 6;
  }

  .section_type_practices {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto;
  }

  .section_type_practices .section__title {
    grid-row: 1 / 4;
  }

  .visuals-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
  }

  .visuals-grid__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .visuals-grid__image:nth-child(1) {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
  }

  .visuals-grid__image:nth-child(2) {
    grid-row: 1 / 3;
    grid-column: 3 / 4;
  }

  .visuals-grid__image:nth-child(3) {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
  }

  .visuals-grid__image:nth-child(4) {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  .visuals-grid__image:nth-child(5) {
    grid-row: 3 / 4;
    grid-column: 2 / 4;
  }
}

@media (width >= 1024px) {

  .header__theme-menu-list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }

  .section_type_struggle,
  .section_type_practices {
    grid-template-columns: 1fr 2.06fr;
  }

  .section_type_distractors {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
  }

  .section_type_distractors .section__title {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  .section_type_distractors .cards-list {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    grid-template-columns: repeat(3, 1fr);
  }
}
